body {
  margin: 0;
  padding: 0;
}

main {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-color: green;
}

.body {
  position: fixed;
  bottom: -30px;
  right: -28px;
  width: 284.8px;
  height: 347.2px;
  background-image: url('/images/body.png');
  background-size: cover;
  overflow: hidden;

  animation-name: bodyRotate;
  animation-duration: 40s;
  animation-iteration-count: infinite;
  transform-origin: bottom center;
}

.face {
  position: absolute;
  width: 198.4px;
  height: 198.4px;
  left: 19.2px;
  background-image: url('/images/face.png');
  background-size: cover;
  overflow: hidden;

  animation-name: faceRotate;
  animation-duration: 24s;
  animation-iteration-count: infinite;
  transform-origin: center 80%;
}

.face, .face * {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.face * {
  position: absolute;
  top: 0; left: 0;
  width: 100%;
  height: 100%;
}

.eyebrows {
  background-image: url('/images/eyebrows.png');
  animation-name: eyebrowsMove;
  animation-duration: 8s;
  animation-iteration-count: infinite;
}

.eyes {
  background-image: url('/images/eyes.png');
  background-size: 100% 200%;
  background-position-y: 0;

  animation-name: eyesBlink;
  animation-duration: 7s;
  animation-iteration-count: infinite;
  animation-timing-function: step-end;
}

.mouth {
  background-image: url('/images/mouth-closed.png');
}
.talking .mouth {
  display: none;
}
.mouths {
  display: none;

  background-image: url('/images/mouths.png');
  background-size: 700% 100%;

  animation-name: mouthTalking;
  animation-duration: 800ms;
  animation-iteration-count: infinite;
  animation-timing-function: step-end;
}
.talking .mouths {
  display: inherit;
}

@keyframes bodyRotate {
  from { transform: rotate(0deg); }
  10% { transform: rotate(-1deg); }
  24% { transform: rotate(4deg); }
  53% { transform: rotate(-2deg); }
  82% { transform: rotate(4deg); }
  96% { transform: rotate(-2deg); }
  to { transform: rotate(0deg); }
}

@keyframes faceRotate {
  from { transform: rotate(0deg); }
  20% { transform: rotate(4deg); }
  24% { transform: rotate(-3deg); }
  36% { transform: rotate(4deg); }
  48% { transform: rotate(-2deg); }
  52% { transform: rotate(4deg); }
  64% { transform: rotate(-3deg); }
  72% { transform: rotate(2deg); }
  78% { transform: rotate(-3deg); }
  86% { transform: rotate(4deg); }
  94% { transform: rotate(-2deg); }
  to { transform: rotate(0deg); }
}

@keyframes eyesBlink {
  from { background-position-y: 0; }
  24% { background-position-y: 0; }
  25% { background-position-y: 100%; }
  26% { background-position-y: 0; }
  74% { background-position-y: 0; }
  75% { background-position-y: 100%; }
  76% { background-position-y: 0; }
  79% { background-position-y: 0; }
  80% { background-position-y: 100%; }
  81% { background-position-y: 0; }
  to { background-position-y: 0; }
}

@keyframes eyebrowsMove {
  from { transform: translateY(0%); }
  20% { transform: translateY(0%); }
  22% { transform: translateY(-1.8%); }
  24% { transform: translateY(0%); }
  70% { transform: translateY(0%); }
  72% { transform: translateY(-1.8%); }
  74% { transform: translateY(0%); }
  80% { transform: translateY(0%); }
  82% { transform: translateY(-1.8%); }
  84% { transform: translateY(0%); }
  to { transform: translateY(0%); }
}

@keyframes mouthTalking {
  from { background-position-x: 0%; }
  14% { background-position-x: 16.6667%; }
  29% { background-position-x: 33.3333%; }
  43% { background-position-x: 50%; }
  57% { background-position-x: 66.6667%; }
  71% { background-position-x: 83.3333%; }
  86% { background-position-x: 100%; }
  to { background-position-x: 0; }
}